div{
  text-align: center;
  width: 25%;
  margin: 0 auto;
  display: block;

}
img {
text-align: center;
border-color: red;
border-radius: 50%;
border-width: 1px;
width: 97%;
}
h2 {
  color:red; 
}
p {
  text-align: center;
}
