@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url(' https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css');

body {
  margin:0;
  font-family: 'Raleway', sans-serif;
  background-color: hsl(0, 0%, 95.7%);
}
header {
  padding: 100px 90px;
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 20px;
  border-radius: 5px;
  background-image: linear-gradient( hsla(187, 98%, 25%, 0.19),hsla(188, 82%, 43%, 0.09) ), url("https://images.unsplash.com/photo-1461353567178-49dde8f6da50?dpr=1.5&auto=format&fit=crop&w=1500&h=847&q=80&cs=tinysrgb&crop=&bg=");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
nav li {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}
h1 {
  display: flex;
  justify-content: center;
  color: hsl(0, 1.1%, 18.2%);
  padding: 5%;
  color: hsla(0, 0%, 100%, 0.81);
}
nav {
  display: flex;
  justify-content: center;
  align-items: stretch;

}
header a {
  /*border: 2px solid hsl(0, 1.1%, 18.2%);*/
  border-radius: 5px;
  padding: 10px 30px;
  text-decoration: none;
  color: hsl(0, 1.1%, 18.2%);
  transition: box-shadow 400ms ease-out;
  color: white;
}
header a:hover {
  color: white;
  box-shadow: 7px 7px 7px hsla(0, 0%, 0%, 0.47);

}
#first{
  padding: 200px 90px;
  margin-left: 100px;
  margin-right: 100px;
  border-radius: 5px;
  background-color: white;
  color: hsl(0, 0%, 26.7%);
  text-align: center;

}
#first img {
  width: 20%;
  height: auto;
  border-radius: 50%;
}
#first a {
  padding: 10px 25px;
  text-decoration: none;
  color: hsl(0, 0%, 26.7%);
  border-radius: 5px;
  transition: box-shadow 400ms ease-out;
}
#first a:hover {
  box-shadow: 7px 7px 7px hsla(0, 0%, 0%, 0.47);

}
#second {
  padding: 160px 90px;
  margin-left: 100px;
  margin-right: 100px;
  border-radius: 5px;
  color: hsl(0, 0%, 26.7%);
  text-align: center;
}
#second a {
  padding: 8px 25px;
  text-decoration: none;
  color: hsl(0, 0%, 26.7%);
  border-radius: 5px;
  transition: box-shadow 400ms ease-out;
}
#second a:hover {
  box-shadow: 7px 7px 7px hsla(0, 0%, 0%, 0.47);
}
#exone {

  margin-left: 100px;
  margin-right: 100px;
  border-radius: 5px;
  color: hsl(0, 0%, 26.7%);
  text-align: center;
  display: flex;
  flex-wrap: wrap;

}
#exone img {
  height: 400px;
  width: 400px;
}
#extwo {

  margin-left: 100px;
  margin-right: 100px;
  border-radius: 5px;
  color: hsl(0, 0%, 26.7%);
  text-align: center;
  display: flex;
  flex-wrap: wrap;

}
#extwo img {
  height: 400px;
  width: 400px;
}
#third {
  padding: 200px 90px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 10px;
  text-align: center;
  border-radius: 5px;
  background-image: linear-gradient(hsla(187, 98%, 25%, 0.19),hsla(188, 82%, 43%, 0.09)), url("https://images.unsplash.com/photo-1414005987108-a6d06de8769f?dpr=1.5&auto=format&fit=crop&w=1500&h=1125&q=80&cs=tinysrgb&crop=&bg=");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
}
#third a {
  border-radius: 5px;
  padding: 8px 30px;
  text-decoration: none;
  color: hsl(0, 1.1%, 18.2%);
  transition: box-shadow 400ms ease-out;
  color: white;
}
#third a:hover {
  color: white;
  box-shadow: 7px 7px 7px hsla(0, 0%, 0%, 0.47);
}
footer {
  padding: 25px 10%;
  margin-top: 20px;
  text-align: center;
}
footer nav {
  border-top: 2px solid ;
}
footer a {
  color: hsl(0, 1.1%, 18.2%);
  text-decoration: none;
}
footer a:hover {
  color: hsl(189, 42%, 58%);

}
li {
  color: white;
  display: flex;
  justify-content: space-between;
}
/*http://paletton.com/palette.php?uid=13h0u0kndxX8GT6h6HluFtJxiko*/
