body {
background-color: teal;
margin:0;
font-size: 18px;
}
nav {
  background-color: orange;
  padding: 0 15px 0 10px;
}
nav li {
  display: inline;
}
nav a {
  display: inline-block;
  width: 100px;
  height: 100px;
  text-align: center;
  background-color: red;
  line-height:100px;
  border-radius:10px;
  /*font-size:300%;*/
  color:orange;
  text-decoration: none;
  border:1px solid maroon;
  background-image: linear-gradient(to right, purple,blue,magenta,yellow,red);

}
nav a {
  transition: 1000ms;
}
nav a:hover {
  transform: rotate(180deg);
  transition:all 1000ms;

}
nav a::before {
  content: ':';
}
nav a::after {
  content:':';
}
